head
  title Tracking

body
  hr
  h2 Tracking System
  hr
  +trackingInfo

template(name="trackingInfo")
  hr
  if connected
    h4 connected / {{connectId}}
  else
    h2 disconnected
  hr
  h2 Tracking Info:
  ul
    li uuid: {{uuid}}
  hr